.scroll-top {
  position: fixed;
  z-index: 999;
  bottom: 2rem;
  right: 2%;
  background-color: darkgoldenrod;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.scroll-top:hover {
  transform: translateY(-3px) scale(1.1);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .scroll-top {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    opacity: 0.8;
  }
}
