.scroll-top {
  position: fixed;
  z-index: 999;
  bottom: 2rem;
  right: 3%;
  background-color: darkgoldenrod;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;

  /* Transition for both showing/hiding */
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  transform: translateY(20px) scale(0.8);
}

.scroll-top.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.scroll-top:hover {
  transform: translateY(-3px) scale(1.1);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .scroll-top {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
  
}
