.lazy-image {
  opacity: 0;
  transform: scale(1.02);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: block;
  width: 100%;
  height: auto;
}

.lazy-image-loaded {
  opacity: 1;
  transform: scale(1);
}