@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* global styles */
:root {
  --bg-primary-color: #000;
  --bg-secondary-color: rgb(24, 24, 27);
  --border-color: rgba(63, 63, 70, 0.4);
  --title-color: rgb(244 244 245);
  --subtitle-color: rgb(161 161 170);
  --bg-header-color: rgb(39, 39, 42);
  --blue-color: rgb(93, 188, 252);
  --icons-hover-color: #d4d4d8;

  --lg-container-padding: 4.8rem;
  --md-container-padding: 1rem;
}

.light {
  --bg-primary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
}

body {
  background-color: var(--bg-primary-color);
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.2rem;
  position: relative;
  color: var(--title-color);
}

h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: darkgoldenrod;
  display: block;
  margin: 0.6rem auto 0;
  border-radius: 2px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

button {
  all: unset;
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

.container {
  background-color: var(--bg-secondary-color);
  max-width: min(1200px, 90%);
  margin: 0 auto;
  padding: 0 var(--lg-container-padding);
  border: 1px solid var(--border-color);
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 1px 40px rgba(49, 49, 49, 0.292);
}

.divider {
  border-bottom: 1px solid var(--border-color);
  width: calc(100% + var(--lg-container-padding) + var(--lg-container-padding));
  margin: 2rem 0 2rem calc(-1 * var(--lg-container-padding));
}

.flex {
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid red;
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--md-container-padding);
  }
  .divider {
    width: calc(
      100% + var(--md-container-padding) + var(--md-container-padding)
    );
    margin: 1.5rem 0 1.5rem calc(-1 * var(--md-container-padding));
  }
}

/* scrollbar */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  border: 6px solid #1b1b1b;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, darkgoldenrod, #a67c00);
  border-radius: 8px;
  border: 2px solid #0f0f0f;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, gold, darkgoldenrod);
}

/* Firefox */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: darkgoldenrod #0f0f0f;
}
