.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  background: #111;
  color: #fff;
  margin: 2rem 0;
  border-radius: 16px;
}

.not-found-container h1 {
  font-size: 6rem;
  color: darkgoldenrod;
  margin-bottom: 1rem;
}

.not-found-container p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.back-home {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: darkgoldenrod;
  color: #111;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
}

.back-home:hover {
  background: #fff;
  color: darkgoldenrod;
}
